$key-gap: 0.125rem;
$key-group-gap: 0.625rem;
$logo-highlight: #34edff;

:root {
	--key-text-highlight: #98ff00;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.75rem;
	color: #fff;
}

h1 {
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: rgba(255, 255, 255, 0.75);
	}
}

.material-symbols-outlined {
	pointer-events: none;
}

.small-text {
	font-size: 0.75rem;
}

.smaller-text {
	font-size: 0.625rem;
}

.color-white {
	color: #fff !important;
}

.key-sound-switch {
	display: flex;
	gap: 1rem;
	
	.key-sound {
		cursor: pointer;
		opacity: 0.5;
		
		&.active {
			opacity: 1;
		}
	}
}

.main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0 2rem 0;
	min-height: 100vh;
	font-family: "Outfit", sans-serif;
	background: rgb(36, 0, 84);
	background: linear-gradient(
		45deg,
		rgba(36, 0, 84, 1) 10%,
		rgba(0, 48, 152, 1) 100%
	);
}

.keyboard-wrapper {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	gap: $key-group-gap;
	padding: $key-group-gap;
	margin: 2rem 0;
	border-radius: 0.25rem;
	border-left: 0.25rem solid #555560;
	border-right: 0.25rem solid #555560;
	background-color: #444450;

	li {
		position: relative;
		top: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 0.25rem 0;
		border-radius: 0.375rem;
		color: var(--key-text-highlight);
		font-size: 0.75rem;
		background: #141418;
		border-top: 0.125rem solid #202024;
		border-right: 0.25rem solid #202024;
		border-bottom: 0.375rem solid #242428;
		border-left: 0.25rem solid #202024;

		&.caps-key.click,
		&.caps-key:hover {
			border-right: 0.8125rem solid #282832;
		}

		&.click,
		&:active {
			top: 0.0625rem;
		}

		&.click,
		&:hover {
			background: #202024;
			border-top: 0.125rem solid #282832;
			border-right: 0.25rem solid #282832;
			border-bottom: 0.375rem solid #323236;
			border-left: 0.25rem solid #282832;

			&:after {
				border-top: 0.125rem solid #282832 !important;
				border-bottom: 0.375rem solid #323236 !important;
				border-left: 0.25rem solid #282832 !important;
			}
		}
	}

	.logitech-logo {
		display: grid;
		place-content: center;
		grid-column-start: 1;
		font-size: 2.5rem;
		line-height: 1;
		color: $logo-highlight;

		&.active {
			animation: rainbow 5s linear;
			animation-iteration-count: infinite;
		}
	}

	.utility-keys,
	.memory-keys {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(4, 2.5rem);
		grid-column-start: 3;
		gap: $key-gap;

		li {
			color: #444;
		}

		li.active {
			color: var(--key-text-highlight);
		}
	}

	.utility-keys {
		grid-template-columns: repeat(2, 2.5rem);
		grid-column-start: 4;

		li {
			font-size: 1.125rem;

			&.game span {
				font-size: 1rem;
				transform: rotate(-45deg) translateX(-0.0625rem) translateY(-0.0625rem);
			}

			&.brightness span {
				font-size: 1.125rem;
				margin-bottom: -0.0625rem;
				margin-right: -0.0625rem;
			}
		}
	}

	.info-lights {
		display: grid;
		grid-template-columns: repeat(2, 2.5rem);
		grid-column-start: 5;

		.info-light {
			cursor: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0;
			border: none;
			background: transparent;

			&:hover:after {
				border-top: none !important;
				border-bottom: none !important;
				border-left: none !important;
			}

			&:after {
				content: "";
				display: flex;
				width: 0.375rem;
				height: 0.375rem;
				border-radius: 10rem;
				background-color: #000;
				box-shadow: 0 0 0 #fff;
			}

			span {
				color: #000;
				font-size: 0.375rem;
				text-align: center;
			}

			&.active:after {
				background-color: #fff;
				box-shadow: 0 0 0.25rem #fff;
			}
		}
	}

	.media-keys {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(4, 2.5rem);
		grid-column-start: 4;
		grid-row-start: 2;
		gap: $key-gap;

		li {
			font-size: 0.5rem;
		}
	}

	.volume-wheel {
		&_box {
			position: relative;
			padding: 0 0.625rem 0.625rem 0.625rem;
			top: -0.625rem;
			background: #141418;
			border-left: 0.5rem solid #202024;
			border-right: 0.5rem solid #202024;
			border-bottom: 0.5rem solid #202024;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}

		&_scroll {
			cursor: grab;
			background: #333;
			background: linear-gradient(
				0deg,
				rgba(34, 34, 34, 1) 0%,
				rgba(34, 34, 34, 1) 25%,
				rgba(68, 68, 68, 1) 50%,
				rgba(51, 51, 51, 1) 75%,
				rgba(51, 51, 51, 1) 100%
			);
			height: 1.8125rem;
			border: 0.0625rem solid #383838;
			border-radius: 0.25rem;
		}
	}

	.round-key {
		box-sizing: border-box;
		display: grid;
		place-content: center;
		width: 2rem;
		height: 2rem;
		border-radius: 10rem;
		border: 0.1875rem solid #202024;

		&:hover {
			background: #202024;
			border: 0.125rem solid #282832;
		}
	}

	.long-word-key {
		padding-top: 0.375rem;
		font-size: 0.5rem;
	}

	.backspace-key {
		font-size: 0.875rem;
		line-height: 0.3125rem;
	}

	.caps-key {
		border-right: 0.8125rem solid #202024;
	}

	.enter-key {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: span 2;

		li {
			position: relative;
			display: grid;
			place-items: center;
			border-top-left-radius: 0;

			&:after {
				content: "";
				box-sizing: border-box;
				position: absolute;
				top: -0.09375rem;
				left: -0.875rem;
				width: 0.875rem;
				height: 2.5rem;
				border-top-left-radius: 0.375rem;
				border-bottom-left-radius: 0.375rem;
				border-top: 0.125rem solid #202024;
				border-bottom: 0.375rem solid #242428;
				border-left: 0.25rem solid #202024;
				background-color: inherit;
			}

			span {
				font-size: 1rem;
			}
		}
	}

	.windows-key {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		&_box {
			display: grid;
			grid-template-columns: 0.3125rem 0.3125rem;
			grid-template-rows: 0.25rem 0.25rem;
			gap: 0.0625rem;
			transform: perspective(0.625rem) rotate3D(0, 1, -0.1, -15deg);
		}

		span {
			width: 0.3125rem;
			height: 0.25rem;
			background-color: var(--key-text-highlight);
		}
	}

	.space-key {
		font-size: 0.875rem;
		line-height: 0;
	}

	.context-key {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		&_box {
			display: grid;
			grid-template-columns: 0.25rem;
			grid-template-rows: 0.0625rem 0.0625rem 0.0625rem;
			gap: 0.0625rem;
			padding: 0.0625rem 0.125rem;
			border: 0.09375rem solid var(--key-text-highlight);
		}

		span {
			width: 0.25rem;
			height: 0.0625rem;
			background-color: var(--key-text-highlight);
		}
	}

	.up-arrow-key {
		font-size: 0.875rem;
		grid-column-start: 2;
		grid-row-start: 4;
	}

	.left-arrow-key {
		font-size: 0.875rem;
		grid-column-start: 1;
		grid-row-start: 5;
	}

	.down-arrow-key {
		font-size: 0.875rem;
		grid-column-start: 2;
		grid-row-start: 5;
	}

	.right-arrow-key {
		font-size: 0.875rem;
		grid-column-start: 3;
		grid-row-start: 5;
	}

	.numpad-minus {
		font-size: 0.875rem;
		line-height: 0;
	}

	.numpad-plus {
		grid-column-start: 4;
		grid-row-start: 2;
		grid-row-end: span 2;
		padding-top: 1.25rem;
		font-size: 0.875rem;
	}

	.numpad-enter {
		grid-column-start: 4;
		grid-row-start: 4;
		grid-row-end: span 2;
		padding-top: 1.5625rem;
	}

	.numpad-zero {
		grid-column-start: 1;
		grid-column-end: span 2;
	}

	.numpad-dot {
		font-size: 1rem;
		line-height: 0;
	}
}

.header-keys {
	display: grid;
	grid-template-columns: 2.5rem 5rem 12.125rem 14.875rem auto 10.5rem;
	grid-template-rows: 2.5rem;
	grid-column-start: 1;
	grid-column-end: span 4;
	grid-row-start: 1;
}

.f-keys {
	display: grid;
	grid-template-columns: 2.5rem 1.625rem repeat(4, 2.5rem) 1.5625rem repeat(4, 2.5rem) 1.5625rem repeat(
			4,
			2.5rem
		);
	grid-template-rows: 2.5rem;
	grid-column-start: 2;
	grid-row-start: 2;
	gap: $key-gap;

	li:nth-child(1) {
		grid-column-start: 1;
	}

	li:nth-child(2) {
		grid-column-start: 3;
	}

	li:nth-child(6) {
		grid-column-start: 8;
	}

	li:nth-child(10) {
		grid-column-start: 13;
	}
}

.g-keys {
	display: grid;
	grid-template-columns: 2.5rem;
	grid-template-rows: repeat(5, 2.5rem);
	grid-column-start: 1;
	grid-row-start: 3;
	gap: $key-gap;
}

.center-keys {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 2.5rem auto 2.5rem 2.5rem;
	grid-column-start: 2;
	grid-row-start: 3;
	gap: $key-gap;

	&_row-1 {
		display: grid;
		grid-template-columns: repeat(13, 2.5rem) 5rem;
		grid-template-rows: 2.5rem;
		grid-row-start: 1;
		gap: $key-gap;
	}

	&_row-2-3 {
		display: grid;
		grid-template-columns: auto 3.125rem;
		grid-template-rows: 2.5rem 2.5rem;
		grid-row-start: 2;
		gap: $key-gap;
	}

	&_row-2 {
		display: grid;
		grid-template-columns: 3.75rem repeat(12, 2.5rem);
		grid-template-rows: 2.5rem;
		grid-row-start: 1;
		gap: $key-gap;
	}

	&_row-3 {
		display: grid;
		grid-template-columns: 4.375rem repeat(12, 2.5rem);
		grid-template-rows: 2.5rem;
		grid-row-start: 2;
		gap: $key-gap;
	}

	&_row-4 {
		display: grid;
		grid-template-columns: 5.75rem repeat(10, 2.5rem) 7rem;
		grid-template-rows: 2.5rem;
		grid-row-start: 3;
		gap: $key-gap;
	}

	&_row-5 {
		display: grid;
		grid-template-columns: 3.75rem repeat(2, 3.125rem) 15.125rem repeat(3, 3.125rem) 3.75rem;
		grid-template-rows: 2.5rem;
		grid-row-start: 4;
		gap: $key-gap;
	}
}

.print-scroll-pause-keys {
	display: grid;
	grid-template-columns: repeat(3, 2.5rem);
	grid-template-rows: 2.5rem;
	grid-column-start: 3;
	grid-row-start: 2;
	gap: $key-gap;
}

.home-end-arrow-keys {
	display: grid;
	grid-template-columns: repeat(3, 2.5rem);
	grid-template-rows: repeat(5, 2.5rem);
	grid-column-start: 3;
	grid-row-start: 3;
	gap: $key-gap;
}

.numpad-keys {
	display: grid;
	grid-template-columns: repeat(4, 2.5rem);
	grid-template-rows: repeat(5, 2.5rem);
	grid-column-start: 4;
	grid-row-start: 3;
	gap: $key-gap;
}

@keyframes rainbow {
	100%,
	0% {
		color: #34edff;
	}
	10% {
		color: #00ff98;
	}
	20% {
		color: #98ff00;
	}
	30% {
		color: #ffe500;
	}
	40% {
		color: #ff8100;
	}
	50% {
		color: #ff0000;
	}
	60% {
		color: #ff0079;
	}
	70% {
		color: #c900ff;
	}
	80% {
		color: #7700ff;
	}
	90% {
		color: #0045ff;
	}
}

@media screen and (max-width: 1280px) {
	:root {
		font-size: 14px;
	}
	
	.keyboard-wrapper {
		.enter-key {
			li {
				&:after {
					top: calc(-0.09375rem - 0.2px);
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 12px;
	}
	
	.keyboard-wrapper {
		.enter-key {
			li {
				&:after {
					top: -0.0625rem;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 10px;
	}
}